{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<br>
<br>
<div class="container">
    
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
            <tr>
            <th scope="col">Connection_Id</th>
            <th scope="col">Booking_Id</th>
            
            <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Cylinder in KG</th>
                <th scope="col">Booked Date</th>
                <th scope="col">Booking Status</th>
                <th scope="col">Delete Booking</th>
            </tr>

        </thead>
        <tbody>
            {% for book in bookc %}
              <tr>
                <th scope="row">{{book.connection.id}}</th>
                <th scope="row">{{book.id}}</th>
                <td>{{ book.connection.name }}</td>
                    <td>{{ book.connection.email }}</td>
                    <td>{{ book.connection.mobilenumber }}</td>
                <td>{{book.cylinder_KG}}</td>
                <td>{{book.date}}</td>
                <td>{{book.status}}</td>
                <td><a href="{% url 'delete-booking' book.id %}"><i class="fa fa-trash fa-2x"></i></a></td>
                <td></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
</div>
{% endblock content %}
