{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<style>
    
  </style>
<div class="container">
    
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Book Cylinder</legend>
            {{form | crispy}}
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Book Cylinder
            </button>
        </div>
    </form>
</div>
{% endblock content %}